spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: test@example.com
    password: dummy
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
server:
  port: 8082
